<table>
  <tr>
    <td>Email</td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td>Name</td>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <td>Encrypted Password</td>
    <td><%= @user.password_digest %></td>
  </tr>
</table>
<%= link_to 'Logout', session_path, :method => :delete %>