// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#matches {
  th, td{
    text-align: center;
  }
}
a {
  color: #7777EE;
  text-decoration: none;
}

.ui.icon.success {
  margin: 10px;
  width: 255px;
}
#table {
  position: fixed;
  width: 100%;
}
#matches_index {
  text-align: center;
}
i.loading {
  margin-top: 80px;
}