<!DOCTYPE html>
<html>
<head>
  <title>Gamball</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<%= content_tag :body, yield, :controller => params[:controller], :action => params[:action] %>
</html>
